#contact {  
  width: calc(100% - 80px);
  margin-bottom: min(15%, 150px);
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#contact h1 { 
  font-size: 55px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 45px;
}

#contact-methods { 
  width: 100%; 
  max-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media(max-width: 660px) { 
  #contact-methods { 
    flex-direction: column;
    align-items: center;
    height: 130px;
  }
}

#contact-method { 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-link { 
  text-decoration: none;
  color: #1694f4;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  display: flex;
}

.contact-icon { 
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.contact-link:hover { 
  text-decoration: underline;
}