#contact {  
  width: 60%;
  padding-top: 5px;
  margin-bottom: 15%;
}

#contact h1 { 
  font-size: 58px;
  margin: 0px;
  font-weight: 700;
}

#contact h4 {
  margin: 0px;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 45px;
}


#contact-method { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.contact-link { 
  text-decoration: none;
  color: #1694f4;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  display: flex;
}

.contact-icon { 
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.contact-link:hover { 
  text-decoration: underline;
}