html {
  scroll-behavior: smooth;
}

body { 
  padding: 0px; 
  margin: 0px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  color: #DEE2E6;
  font-family: 'Roboto', sans-serif;
}

#mode-button {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 10px; 
  bottom: 10px;
  background-color: rgb(55,128,255);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding-top: 10px; 
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: opacity .15s;
}

#mode-button:hover {
  opacity: 0.8;
}

#mode-button:active {
  opacity: 0.5;
}
