header { 
  background-color: black;
  width: 100%;
  height: 85px;
  display: flex; 
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 150
}

#content { 
  height: 40px;
  max-width: 1050px;
  width: calc(100% - 80px);
  display: flex; 
  align-items: center; 
}

#logo-link { 
  cursor: pointer;
  height: 100%;
}

#logo { 
  height: 100%;
}

nav { 
  width: 260px;
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-left: 17px;
}

.nav-link { 
  font-size: 17px;
  color: white;
  text-decoration: none;
}

.nav-link:hover { 
text-decoration: underline;
}

