#projects { 
  max-width: 1180px;
  width: calc(100% - 80px);
  margin-bottom: min(15%, 150px);
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#projects h1 { 
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 45px;
}

#project-grid { 
  display: grid;
  grid-gap: 40px;
}

/* Make project grid 1 column */
@media(max-width: 869px) {
#project-grid { 
    max-width: 570px;
    grid-template-columns: 1fr;
  }
}

@media(min-width: 870px) {
  #project-grid { 
    grid-template-columns: 1fr 1fr;
  }
}

.project-lower-half { 
  padding-left: 25px; 
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 12px;
  background-color: #181d23;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -7px;
}

.project-image { 
  width: 100%;
  margin-bottom: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
}

.project-title { 
  margin: 0px;
  font-size: 22px;
  font-weight: 400;
}

.project-description { 
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 100;
  font-size: 16px;
}

.project-details { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  font-size: 16px;
}

.project-details p {
  margin-right: 10px;
}

.github-button { 
  background-color: #1694f4;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  transition: opacity .15s;
  cursor: pointer;
}

.github-button:hover {
  opacity: 0.8;
}

.github-button:active {
  opacity: 0.5;
}

