#skills {  
  width: 65%;
  max-width: 1070px;
  padding-top: 5px;
  margin-bottom: 15%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

#skills h1 { 
  font-size: 45px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 25px;
}

.skill-section { 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #353c49;  
  width: 100%;
  max-width: 900px;
  padding-top: 22px;
  padding-bottom: 27px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
}

.skill-category {
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
}

.line { 
  border-bottom: 1px solid #1694f4;
  width: 300px;
  margin: 10px;
}

.specific-skills { 
  font-weight: 300;
  margin: 0px;
}